.footerEdit {
    font-family: $fuente-principal;
    width: 100%;
    text-align: center;
  }
  
  .seguinosInsta {
    margin-top: 50px;
  }
  
  .redesSociales {
    padding: 5px;
  }
  
  .copy {
    font-family: $fuente-principal;
  }